
#col1{
    border: 1px solid gray;
    padding: 10px 10px;
    margin-bottom: 35px; 

}
#col2{
    border: 1px solid gray;
    padding: 10px 10px;
    margin-bottom: 35px; 
}
#col3{
    border: 1px solid gray;
    padding: 10px 10px;
    margin-bottom: 35px;
}

#col1-heading ,#col2-heading , #col3-heading{
    position: relative;
    left: 5px; 
    bottom: 25px;
    background-color: #2dae87;
    padding: 5px 5px;
    color: white;
    border: none;
    outline: none;
}

#col4-heading ,#col5-heading , #col6-heading{
    position: relative;
    left: 5px; 
    bottom: 25px;
    background-color:#29aeae;
    padding: 5px 5px;
    color: white;
    border: none;
    outline: none;
}