// 3rd-party Plugins
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Theme Styles
@import "./_metronic/_assets/sass/style.react.scss";

// Default Layout themes
@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
@import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";

@import "./scss/variables";
// Header themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/base/dark.scss";
  
// Header Menu themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/menu/dark.scss";

// Brand themes
.brand-dark {
  @import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
}
// Light
.brand-light {
  @import "./_metronic/_assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// Dark
//@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./_metronic/_assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: 0.5rem; 
  code { 
      overflow-y: auto;
      display: block;

      span {
        background: none transparent !important;
      }
  }
}

.json > pre {
  background: none #fff !important;

}

.example-code > .json {
  background: none #fff !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.react-bootstrap-table {
  th {
    outline: none;
   
    &.sortable {  
      .svg-icon-sort {
        opacity: 0;
      }
  
      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }    
  }

  .table.table-head-custom thead tr {
    .sortable-active {
        color: $primary !important;
    }
  }
}

.cursor-default {
  cursor: default !important;
}

.display-block {
  display: block;
}

.notification-badge-wrapper {
  background-color: #fff;
  position: relative;
  padding: 1rem;
  border-radius: 2rem 0rem 2rem 0rem;
  min-height: 11rem;
  box-shadow: 10px 10px 10px #aaaaaa;
  .notification-badge__container{
    color: #fff;
    padding: 1rem 0;
    min-height: 8rem;
    border-radius: 2rem 0rem 2rem 0rem;
    
  }
  .notification-badge-wrapper__count{
    position: absolute;
    background: #fff;
    bottom: 0.7rem;
    padding: 0.3rem;
    font-size: 2rem;
  }
}

.light-green__bg {
  background-color: #51D657;
}

.light-purple__bg {
  background-color: #C05DFD;
}

.orange__bg {
  background-color: #FC8720;
}

.light-pink__bg{
  background-color: #F65D94;
}

.light-pink-container__bg {
  background-color: #FFE2E5;
}

.light-green-container__bg {
  background-color: #E8FFF3;
}

.progress {
  height: .5rem;
}



.order-stats__wrapper {
  margin: 1rem 0;
  padding: 1.5rem;
  min-height: 14rem;
  box-shadow: 5px 5px 10px #aaaaaa;
  .order-stats-pink__container{
    h3 {
      color: $base-pink-color;
      margin: 1rem 0;
    }
    p{
      display: inline-block;
      color: #a0a0a0;
    }
    .order-stats-wrapper__info {
      margin: 1rem 0;
      span{
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 0.2rem;
      }
    }
    .general-progress-bar{
      .progress {
        background-color: $base-light-pink-color;
      }
    
      .progress-bar{
        background-color: $base-pink-color;
      }
    }
  }

  .order-stats-green__container{
    h3 {
      color: $base-dark-green-color;
      margin: 1rem 0;
    }
    p{
      display: inline-block;
      color: #a0a0a0;
    }
    .order-stats-wrapper__info {
      margin: 1rem 0;
      span{
        font-size: 1.5rem;
        font-weight: bold;
        margin-right: 0.2rem;
      }
    }
    .general-progress-bar{
      .progress {
        background-color: $base-light-green-color;
      }
    
      .progress-bar{
        background-color: $base-dark-green-color;
      }
    }
  }
  
}